body{
  width: 1000px;
  height: 608px;
  margin-left: 103px;
  margin-right: 0px;
  background-color:black;
  font-family:'Nanum Gothic Coding', monospace;
}
.jb-image img { /* 이미지 윤각 radius효과 */
 margin-top: 20px;
 border-radius: 15px;
 width: 1000px;
 height: 600px;
			}
.jb-image{       /* 이미지 가운데 위치 */
  	text-align: center;
}
.jb-text h2{  /* 글귀 제목 위치 */
  position: absolute;
  left: 270px;
  z-index:1px;
  top: 100px;
}
 .jb-text p{   /* 글귀 위치 */
  position: absolute;
  left: 270px;
  z-index: 1px;
  top: 150px;
}
#sideNavBtn{
  font-size:35px;
  cursor:pointer;
  color:white;
}

.sidenav {  /*사이드 메뉴 위치 & 스타일 */
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {  /*사이드 메뉴의 링크 효과 */
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.4s;
}

.sidenav a:hover {  /*사이드 메뉴의 링크 호버효과 */
    color: #f1f1f1;
}

 .sidenav .closebtn {  /*사이드 메뉴와 클로스버튼 위치 및 스타일 */
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.navmenu{
  height: 40px;
  width: 80px;
  position: absolute;
  left: 15px;
  bottom: 599px;
  top: 10px;
  }
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#calendar{
position: absolute;
bottom: 0px;
top: 30px;
left: 1115px;
right: 691.333;
top: 404.667;
right: 0px;
border-radius: 10px;
color: white;
border: solid 1px white;
}
td{
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    font-family: 'Nanum Gothic Coding', monospace;
    border:2px black;
    border-radius: 8px;/*모서리 둥글게*/
        }
#divClock{
position: absolute;
bottom: 315px;
top: 322px;
font-color: white;
color: white;
left: 1140px;
}
